<%# app/views/pxrd_patterns/_plot.html.erb %>

<% if pxrd_pattern.pxrd_data_file.attached? %>
  <% 
    # Parse diffraction data using the model method
    data = pxrd_pattern.parse_diffraction_data
    two_theta = data[:two_theta]
    intensities = data[:intensities]
    file_format = data[:format]
    
    parsing_success = two_theta&.any? && intensities&.any?
  %>
  
  <% if parsing_success %>
    <%
      canvas_id = local_assigns[:canvas_id] || 'pxrd-main-plot'
      is_mini_chart = local_assigns[:mini_chart] || false
      container_height = is_mini_chart ? '120px' : '400px'
      container_classes = is_mini_chart ? '' : 'py-4'
    %>
    
    <div class="<%= container_classes %>" style="position: relative; height: <%= container_height %>; width: 100%;">
      <canvas id="<%= canvas_id %>"></canvas>
    </div>
    
    <script type="module">
      try {
        const { renderPxrdChart } = await import("pxrd_chart");
        
        // Convert Ruby data to JavaScript format
        const scatterData = <%= raw two_theta.each_with_index.map { |t, i| { x: t, y: intensities[i] } }.to_json %>;
        const title = '<%= j pxrd_pattern.title %>';
        const format = '<%= j file_format %>';
        const isMini = <%= is_mini_chart %>;
        
        // Render the chart
        renderPxrdChart('<%= canvas_id %>', scatterData, title, format, isMini);
      } catch (error) {
        console.error('Error loading or rendering PXRD chart:', error);
      }
    </script>
  <% else %>
    <div class="alert alert-warning">
      <h6>Could not parse diffraction data for this pattern</h6>
    </div>
  <% end %>
<% else %>
  <div class="alert alert-warning">No diffraction data file attached.</div>
<% end %>
