<% content_for :title, "PXRD Pattern Details for Well #{@well.well_label_with_subwell}" %>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card mt-4">
        <div class="card-header">
          <h4 class="mb-0">PXRD Pattern Details for Well <%= @well.well_label_with_subwell %></h4>
          <small class="text-muted">Plate: <%= @well.plate.barcode %></small>
        </div>
        <div class="card-body">
          <dl class="row">
            <dt class="col-sm-3">Title</dt>
            <dd class="col-sm-9"><%= @pxrd_pattern.title %></dd>

            <dt class="col-sm-3">Measured</dt>
            <dd class="col-sm-9">
              <%= (@pxrd_pattern.measured_at || @pxrd_pattern.created_at).strftime('%Y-%m-%d %H:%M') %>
              <% if @pxrd_pattern.measured_at %>
                <small class="text-muted">(from XRDML file)</small>
              <% else %>
                <small class="text-muted">(upload time)</small>
              <% end %>
            </dd>

            <dt class="col-sm-3">Uploaded</dt>
            <dd class="col-sm-9"><%= @pxrd_pattern.created_at.strftime('%Y-%m-%d %H:%M') %></dd>

            <dt class="col-sm-3">XRMDL File</dt>
            <dd class="col-sm-9">
              <% if @pxrd_pattern.xrdml_file.attached? %>
                <%= link_to @pxrd_pattern.xrdml_file.filename, url_for(@pxrd_pattern.xrdml_file) %>
              <% else %>
                <span class="text-muted">No XRMDL file uploaded.</span>
              <% end %>
            </dd>
          </dl>

          <%= render partial: 'pxrd_patterns/plot', locals: { pxrd_pattern: @pxrd_pattern } %>

          <div class="mt-3">
            <%= link_to 'Edit', edit_well_pxrd_pattern_path(@well, @pxrd_pattern), class: 'btn btn-primary' %>
            <%= link_to 'Back to Plate', @well.plate, class: 'btn btn-secondary ms-2' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
